/* styles.css */

    a:link {
        color: cyan;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: rgb(8, 245, 107);
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: rgb(216, 185, 250);
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: yellow;
        background-color: transparent;
        text-decoration: underline;
    }